.displayBox {
    height: auto;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-left: 4px;
    border-right: 4px;
    border-width: 4px;
    border-color: rgb(60, 117, 117);
    background-color: rgb(226, 226, 226);
}

button {
    margin: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */
.active {
    background-color: aqua;
}

/* Add the 'nearMaxMass' class style here: */
.nearMaxMass {
    color: rgb(255, 60, 0);

}
